$green-main: #519331;
$brown-orange: #AA6239;
$background: #ABDD93;
$text-light-brown: #D4916A;
$dark-green: #184A00;
$warning: #5d0f4c;
$info: #803c15;
$shadow: rgba(0, 0, 0, .65);
$off-white: navajowhite;
